<nav class="navbar navbar-light bg-dark" style="height: 13vh;">
  <div id="navBarId" class="container-fluid">
    <img src="https://www.iskraemeco.com/app/uploads/2019/09/ie-favicon-red.png" alt="" width="26" height="24"
      class="d-inline-block">
    <span style="color: white;font-family:'Raleway',sans-serif;font-size: 30px;font-weight: bold;">Conference Management
      System</span>
    <div class="d-flex">
      <button type="button" id="divClick" data-bs-toggle="modal" data-bs-target="#exampleModalCenter"
      class="btn btn-succes" style="color: orange">Schedule Meeting</button>
    </div>
  </div>
</nav>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div id="formForEvent" class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle" style="font-family:'Raleway';">Enter meeting details</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue" id="form">
          <div class="form-group">
            <label for=" nameOfHost" style="font-family: 'Raleway';">Name of Employee</label>
            <input type="text" formControlName="nameOfOrganiser" class="form-control" id="nameOfHost" style="font-family: 'Raleway';font-weight: lighter;">
          </div>
          <br>
          <div class="form-group">
            <label for="exampleInputDate" style="font-family: 'Raleway';">Enter Date</label>
            <input type="date" formControlName="dateMeeting" class="form-control" id="exampleInputDate"
              placeholder="Enter Date" [value]="this.api.modalDate" [ngModel]="this.api.modalDate">
          </div>
          <br>
          <div class="form-group">
            <label for="exampleInputStartTime" style="font-family: 'Raleway';">Enter Start Time</label>
            <input type="time" formControlName="startTime" class="form-control" id="exampleInputStartTime"
              placeholder="Enter start time" [value]="this.api.modalStartTime" [ngModel]="this.api.modalStartTime">
          </div>
          <br>
          <div><label for="durationOfMeeting" style="font-family: 'Raleway';">Enter the Duration Of Meeting</label></div>
        
          <div class="timeCheck">
            <label for="15mins" style="font-family: 'Raleway';"> 15 mins </label>
            <input type="radio" name="durationOfMeeting" id="durationOfMeeting" (click)="addMins(15)">
            <label for="30mins" style="margin-left: 4.5em;font-family:'Raleway';">30mins</label>
            <input type="radio" name="durationOfMeeting" id="durationOfMeeting" (click)="addMins(30)">
            <label for="45mins" style="margin-left: 4.5em;font-family: 'Raleway';">45mins</label>
            <input type="radio" name="durationOfMeeting" id="durationOfMeeting" (click)="addMins(45)">
            <label for="60mins" style="margin-left: 4.5em;font-family: 'Raleway';">1 hr</label>
            <input type="radio" name="durationOfMeeting" id="durationOfMeeting" (click)="addMins(60)">
          </div>
          <br>
          <div class="form-group">
            <label for="exampleInputEndTime" style="font-family: 'Raleway';">Enter End Time </label>
            <input type="time" formControlName="endTime" class="form-control" id="exampleInputEndTime"
              placeholder="Enter end time " [value]="newEndTime" [ngModel]="newEndTime">
          </div>
          <br>
          <div class="form-group">
            <label for="capacity" style="font-family: 'Raleway';">Enter no of people </label>
            <input type="number" formControlName="personInMeet" class="form-control" id="capacity"
               min="1" max="10">
          </div>
          <br>
          <div class="form-group">
            <label for="description" style="font-family: 'Raleway';">Description of Meeting </label>
            <textarea id="description" style="vertical-align:middle"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="postDataOfEvent()" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
  <div>
  </div>
</div>

<button type="button" id="calendarModal" data-bs-toggle="modal" data-bs-target="#exampleModalCenterInfo"></button>
<div class="modal fade" id="exampleModalCenterInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div id="calendarModalForEvent" class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Meeting Information</h5>
      </div>
      <div class="modal-body">
        <p> The {{this.api.titleOfEventInMeeting}} is booked by {{this.api.nameOfMeetingHost}}</p>
        <p> from {{this.api.startTimeForMeeting}} to {{this.api.endTimeForMeeting}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

