<nav class="navbar bg-dark">
    <a class="navbar-brand" href="#"
        style="font-family:'Raleway',sans-serif;font-style: italic;  color: #ffffff;height: 12vh; font-size: 40px;">
        <img src="https://www.iskraemeco.com/app/uploads/2019/09/ie-favicon-red.png" alt="" width="48" height="46"
            class="d-inline-block align-text-center">
        Iskraemeco India Pvt. Ltd.
    </a>
    <button type="button" id="logoutClick" data-bs-toggle="modal" (click)="onLogout()" title="Login"
        class="btn btn-succes" style="color: green;font-weight: bold; font-size: larger;width: 80px;height: 75px;"><i
            style="width: 55.2px;height: 55px;" class="fa-solid fa-power-off" style="color:#238323;"></i></button>
</nav>
<p class="cg-bg-image"
    style="background-image:url('https://www.iskraemeco.com/app/uploads/2020/02/FRONTPAGE_1_1-scaled.jpg')"></p>
<br>
<br>
<div class="d-flex justify-content-center">
    <p style="font-family: 'Raleway';font-size: 50px;font-weight:lighter;color: #880808;;">
        Thank you for dreaming with us
    </p>
</div>

<div class="text-center p-2" style="position: fixed;bottom: 0%;right: 34%;bottom: -4%;">
    <p class="text" style="color: black;font-weight: bolder;font-family:'Raleway';">© 2022 Copyright: Iskraemeco India
        Pvt. Ltd. (version 1.0.0)</p>