<nav class="navbar bg-dark">
    <a class="navbar-brand" href="#"
        style="font-family:'Raleway',sans-serif;font-style: italic;  color: #ffffff;height: 12vh; font-size: 40px;">
        <img src="https://www.iskraemeco.com/app/uploads/2019/09/ie-favicon-red.png" alt="" width="48" height="46"
            class="d-inline-block align-text-top">
        Iskraemeco India Pvt. Ltd. 
    </a>
</nav>

<div class="container-fluid d-flex justify-content-center" id="cont">
<div class="cg-bg-image" style="background-image:url('https://www.iskraemeco.com/app/uploads/2020/02/FRONTPAGE_1_1-scaled.jpg')"></div>
<form [formGroup]="checkoutForm" #userlogin = "ngForm" (ngSubmit)="onSubmit()" class="" style="width: 600px;height: 330px;" >
    <div class="row g-0" style="height: 60px;">
        <div class="col text-center p-2 mb-3">
            <span class="fs-2" style="font-family:'Raleway',sans-serif;color:rgb(166, 16, 30);font-weight: bold;">Conference Management
                System</span>
        </div>
    </div>
    <div class="row" style="height: 60px;">
        <div class="col text-center p-2 mb-3">
            <span class="fs-2" style="font-family:'Raleway',sans-serif;color:black;">Login</span>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-4">
            <div class="form-floating">
                <input formControlName="e_id" type="text" class="form-control" id="id" placeholder="ID" style="width: 300px;height: 55px;">
                <label for="id" style="color: rgb(134, 131, 131);">Employee Id</label>
            </div>
            <br>
            <div class="form-floating">
                <input formControlName="pwd" [type]="changetype?'password':'text'" class="form-control" id="floatingPassword" placeholder="Password"
                    style="width: 300px;height: 55px;">
                <span class="eye" (click)="toggle()">
                    <i [ngClass]="visible?'fa-solid fa-eye':'fa-solid fa-eye-slash'"></i>
                </span>
                <label for="floatingPassword" style="color: rgb(134, 131, 131);">Password</label>
            </div>
            <br>
        </div>
        <br>
        <div class="row">
            <div class="col-2 offset-5">
                <div class="d-grid">
                    <button type="submit" class="btn btn-success"
                        style="font-family:'Raleway',sans-serif;color: #ffffff;font-size: 15px;">Submit</button>
                </div>
            </div>
        </div>
        <br>
        <div class="col-md-4"></div>
    </div>
</form>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- <footer class="bg-light text-center text-lg-starts">
<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-dark">Iskraemeco India Pvt. Ltd.</a>
</div>
</footer> -->
<div class="text-center p-2" style="position: fixed;bottom: 0%;right: 40%;">
<p class="text" style="color: white;">© 2022 Copyright: Iskraemeco India Pvt. Ltd.</p>
